<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859795829250-31qfu4f75oefj20o3lc4hh96ifj3963k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859795829250-31qfu4f75oefj20o3lc4hh96ifj3963k</string>
	<key>API_KEY</key>
	<string>AIzaSyCzvu3-hKi_1DyPkibuU0VWw00CsT6wZAI</string>
	<key>GCM_SENDER_ID</key>
	<string>859795829250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lineup.Lineup</string>
	<key>PROJECT_ID</key>
	<string>lineup-eedb0</string>
	<key>STORAGE_BUCKET</key>
	<string>lineup-eedb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859795829250:ios:d69c842b6fd7f1b5c0ed1b</string>
</dict>
</plist>